
body {
  text-align:center;

}

.table {

  height:300px;
  width:100%;
  margin-top:50px;
  background-color: #ffffff;
}

ul{
  list-style-type: none;
}

ul.pricing li {
  height: 300px;
  float:left;
  text-align:center;
  border-left:1px solid #DDDCD8;
  border-top:1px solid #DDDCD8;
  border-bottom: 1px solid #DDDCD8;
  background-color: #ffffff;
}

#last{
    border-right:1px solid #DDDCD8;
}


.top {

  background-color:#66CCFF;
  height:75px;
  h1 {
    padding-top:20px;
  }
}

.circle {
  width:60px;
  height:60px;
  border-radius:60px;
  font-size:15px;
  color:#fff;
  line-height:60px;
  text-align:center;
  background:#989A8F;
  margin-left:40%;
  margin-right:30%;
  margin-top:10px;
}

.bottom {
    margin-top:50px;

}

.bottom p{
     font-size:13px;
    font-weight: bold;
}

.sign {
    margin-top: 40px;
}

.button {
border: 1px solid #989A8F;
padding: 10px 40px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
color: #989A8F;
font-size: 14px;
text-decoration: none;
vertical-align: middle;
font-size:17px;
}

