<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->
<style>
    body{
    background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(../app/images/map_background.png);
}

.vertical-offset-100{
    padding-top:100px;
}
</style>

<div class="row">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
         <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
         <script>
            $(document).ready(function(){
              $(document).mousemove(function(e){
                 TweenLite.to($('body'),
                    .5,
                    { css:
                        {
                            backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
                        }
                    });
              });
            });
        </script>
    </div>
