<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>A simple map</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="../../style/site.css">
        <script src="../js/leaflet.js"></script>
    </head>
    <body>

        <div id='map'>
        </div>

    </body>
</html>
